.rock_counter {
  li {
    margin: 10px;
    background-color: rgb(109, 98, 98);
  }
  button {
    margin: 5px;
    border: 2px solid rgb(202, 46, 46);
    color: bisque;
    background-color: rgb(56, 47, 47);
  }

  h2 {
    font-size: 22px;
  }
}
